/config.conf
/workdir
weather-v1.mp4
weather-v2.mp4
weather-v3.mp4
v1.png
v2.png
v3.png
.DS_Store
/node_modules
output.json
config.json
config-old.json
*.log
logs.log
*-audit.json
test/*
config/password.json
/Users/liam/Documents/GitHub/ErsatzTV-Filler/resources/*
