/config.conf
/workdir
weather-v1.mp4
weather-v2.mp4
weather-v3.mp4
v1.png
v2.png
v3.png
.DS_Store
/node_modules
output.json
config.json
config-old.json
*.log
*.log
logs.log
.45d7867f0a7701f0877923f96b63db6b737a6750-audit.json
.a09263ccc41c54faff7dca3504564687928f1d07-audit.json
