<div class="container">
    <h1>Edit config</h1>
    <form method="post" action="/config.html" id="config-form">
        <div id="variables"></div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>
<script>
    <!--split variables and insert them -->
    $(document).ready(function(){
        //TODO, ah this is where I broke it
        $.get('config.conf', function (data) {
            let current_variables = data.split('\n');
            current_variables.forEach(variable => {
                if (!variable.startsWith("#") && variable != "") {
                    let variable_parts = variable.split('=');
                    $('#variables').append(`
                <div class="form-group">
                  <label> ${variable_parts[0]} </label>
                  <input type="text" class="form-control" name="${variable_parts[0]}" value="${variable_parts[1]}">
                </div>
              `);
                } else if (variable.startsWith("#")) {
                    variable = variable.replace("#", "");
                    $('#variables').append(`
            <p>${variable}</p>
        `);
                }
            });
        });
    });
</script>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</body>
</html>
