<div id="output">
  <center><u><h1 style="color:white;">Manual Run</h1></u>
  <button onclick="runFor('weather')">Run Weather <br>Generator Manually<br><span style="font-size:36px;">&#9925;</span></button>
  <button onclick="runFor('news')">Run News <br>Generator Manually<br><span style="font-size:36px;">&#128240;</span></button>
  <button onclick="runFor('channel-offline')">Run Channel-Offline <br>Generator Manually<br><span style="font-size:36px;">&#10060;</span></button>
  <button onclick="runFor('xmltvmerger')">Run XMLTVMERGER <br>Manually<br><img src="https://img.icons8.com/?size=512&id=62008&format=png" style="height:55px;"></img></button>
  <button onclick="runFor('vanitycard')">Run Vanity Card <br>Manually<br>  <center><div class="card-icon">
    ♦
  </div></center></button>
  <button onclick="runFor('channellogo')">Run Channel Logo <br>Manually<br> <img src="https://liam8888999.github.io/ErsatzTV-Filler/images/ersatztv-filler.png" style="width:70px;height:55px;"></img><br></button>

  </center>
</div>
<br>
<!--  <center><button onclick="window.location.href='/output'">View Filler Output</button></center> -->
  <br>
<center>  <u><h2>Upload Old Config</h2></u>
  <button onclick="toggleoldconfigupload()">Upload old config <span>▾</span></button>
  <br>
    <div id="oldconfigupload" style="display: none;">
  <p>The old config.conf file can be uploaded here to migrate the data to the new (current) config</p>
  <p><b>Please Note:</b> Some configs will be overwritten</p>
  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" accept="config.conf" class="button">
    <br>
    <br>
    <input type="submit" value="Upload" class="button">
  </form>
  <br></div>
  </center>
  <br>

  <script>
    document.getElementById("uploadForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent default form submission

      var fileInput = document.getElementById("fileInput");
      var file = fileInput.files[0];

      if (file) {
        var formData = new FormData();
        formData.append("file", file);

        // You can send the formData object using AJAX or fetch to handle the file upload on the server
        // Example using fetch:
        fetch("/uploadoldmodeltheme", {
          method: "POST",
          body: formData
        })
        .then(response => {
          // Handle the response from the server
          logger.success("Upload successful");
        })
        .catch(error => {
          // Handle any errors
          logger.error("Upload failed:", error);
        });
      } else {
        // Handle case where no file is selected
        logger.error("No file selected");
      }
    });
  </script>
  <script>
  function toggleoldconfigupload() {
  var hintText = document.getElementById('oldconfigupload');
  if (hintText.style.display === 'none') {
  hintText.style.display = 'block';
  } else {
  hintText.style.display = 'none';
  }
  }
  </script>

<div class="home-page-container">
  <div class="home-page-box">
  <center><u><h1>News</h1></u></center>
  <center><p>Nothing at the moment</p></center>
</div>
  <div class="home-page-box">
  <center><u><h1>Health Checks</h1></u></center>
  <% if (oldtypethemes && oldtypethemes.length > 0) { %>
    <a href="/themes" style="display: block; text-decoration: none; color: orange;">
  <p style="color: orange;"><b>Old type themes that require updating:</b></p> <div>
      <ul id="oldtypethemes" style="color: orange;">
          <ul>
            <% for (var i = 0; i < oldtypethemes.length; i++) { %>
              <li><%= oldtypethemes[i] %></li>
            <% } %>
          </ul>
</ul></a>
<% } %>
<p id="healthapistatusp"><b>Health Api Status: </b><span id="healthapistatus"></span></p>


  <p id="ffmpeginstallationstatusp"><b>FFmpeg installation Status: </b><span id="ffmpeginstallationstatus"></span></p>
<br>
<center>  <u><h4>Operating System Information</h4></u></center>
  <p><b>Platform: </b><span id="platform"></span></p>
  <p><b>Hostname: </b><span id="hostname"></span></p>
  <p><b>Total Memory: </b><span id="totalMemory"></span> bytes</p>
  <p><b>Free Memory: </b><span id="freeMemory"></span> bytes</p>

</div>
</div>
