<div id="output">
  <center><u><h1 style="color:white;">Manual Run</h1></u>
  <button onclick="runFor('weather')">Run Weather <br>Generator Manually<br><span style="font-size:36px;">&#9925;</span></button>
  <button onclick="runFor('news')">Run News <br>Generator Manually<br><span style="font-size:36px;">&#128240;</span></button>
  <button onclick="runFor('channel-offline')">Run Channel-Offline <br>Generator Manually<br><span style="font-size:36px;">&#10060;</span></button>
  <button onclick="runFor('xmltvmerger')">Run XMLTVMERGER <br>Manually<br><img src="https://img.icons8.com/?size=512&id=62008&format=png" style="height:55px;"></img></button>
  <button onclick="runFor('vanitycard')">Run Vanity Card <br>Manually<br>  <center><div class="card-icon">
    ♦
  </div></center></button>
  <button onclick="runFor('channellogo')">Run Channel Logo <br>Manually<br> <img src="https://liam8888999.github.io/ErsatzTV-Filler/images/ersatztv-filler.png" style="width:70px;height:55px;"></img><br></button>

  </center>
</div>
<br>
<!--  <center><button onclick="window.location.href='/output'">View Filler Output</button></center> -->
  <br>


<div class="home-page-container">
  <div class="home-page-box">
  <center><u><h1>News</h1></u></center>
  <center><p>Nothing at the moment</p></center>
  <br>

<center><b><i>  <blockquote><%= quote.body %></blockquote>
  <p><%= quote.author %></p></i></b></center>
</div>
  <div class="home-page-box">
  <center><u><h1>Health Checks</h1></u></center>
  <% if (oldtypethemes && oldtypethemes.length > 0) { %>
    <a href="/themes" style="display: block; text-decoration: none; color: orange;">
  <p style="color: orange;"><b>Old type themes that require updating:</b></p> <div>
      <ul id="oldtypethemes" style="color: orange;">
          <ul>
            <% for (var i = 0; i < oldtypethemes.length; i++) { %>
              <li><%= oldtypethemes[i] %></li>
            <% } %>
          </ul>
</ul></a>
<% } %>
<p id="healthapistatusp"><b>Health Api Status: </b><span id="healthapistatus"></span></p>


  <p id="ffmpeginstallationstatusp"><b>FFmpeg installation Status: </b><span id="ffmpeginstallationstatus"></span></p>
<br>
<center>  <u><h4>Operating System Information</h4></u></center>
  <p><b>Platform: </b><span id="platform"></span></p>
  <p><b>Hostname: </b><span id="hostname"></span></p>
  <p><b>Total Memory: </b><span id="totalMemory"></span> bytes</p>
  <p><b>Free Memory: </b><span id="freeMemory"></span> bytes</p>

</div>
</div>
