


<br>
  <div id="output" style="margin: auto; width: 75%;">
    <%- markdown %>
    <button class="show-content-button" style="width: 100%; border: none; color: black; border-top: 5px solid dimgray; background-image: linear-gradient(dimgray, white)">Show older Changelogs</button>
  </div>


<script>
  const button = document.querySelector('.show-content-button');
  const expandContent = document.querySelector('.expand-content');
  let isContentHidden = true;

  button.addEventListener('click', function() {
      expandContent.classList.toggle('hidden');
      isContentHidden = !isContentHidden;
      button.textContent = isContentHidden ? 'Show older Changelogs' : 'Hide older Changelogs';
  });
  </script>

</body>
</html>
