<div id="output">
  <center><h1>Manual Run</h1>
  <button onclick="runFor('weather')">Run Weather Generator Manually<br><span style="font-size:36px;">&#9925;</span></button>
  <button onclick="runFor('news')">Run News Generator Manually<br><span style="font-size:36px;">&#128240;</span></button>
  <button onclick="runFor('channel-offline')">Run Channel-Offline Generator Manually<br><span style="font-size:36px;">&#10060;</span></button>
  </center>
</div>
<br>
<div class="home-page-container">
  <div class="home-page-box">
  <center><h1>News</h1></center>
  <p>There is currently no important news</p>
</div>
  <div class="home-page-box">
  <center><h1>Health</h1></center>
  <p>Health Api Status: <span id="healthapistatus"></span></p>

  <h4>Operating System Information</h4>
  <p>Platform: <span id="platform"></span></p>
  <p>Hostname: <span id="hostname"></span></p>
  <p>Total Memory: <span id="totalMemory"></span> bytes</p>
  <p>Free Memory: <span id="freeMemory"></span> bytes</p>

  <script>
    const healthapistatusElement = document.getElementById('healthapistatus');
    const platformElement = document.getElementById('platform');
    const hostnameElement = document.getElementById('hostname');
    const totalMemoryElement = document.getElementById('totalMemory');
    const freeMemoryElement = document.getElementById('freeMemory');

    fetch('/api/health')
      .then(response => {
        if (response.ok) {
          healthapistatusElement.innerText = 'OK';
          return response.json();
        } else {
          healthapistatusElement.innerText = 'Failed';
        }
      })
      .then(data => {
        platformElement.innerText = data.os.platform;
        hostnameElement.innerText = data.os.hostname;
        totalMemoryElement.innerText = data.os.totalMemory;
        freeMemoryElement.innerText = data.os.freeMemory;
      })
      .catch(error => {
        healthapistatusElement.innerText = 'Failed';
      });

  </script>
</div>
</div>

<script>
  function runFor(option) {

    const url = `/api/run/${option}`; // Provide the correct URL for your weather API
    // Set up the request options
    const options = {
      method: "GET", // Adjust the method based on your API requirements
      headers: {
        'Content-Type': 'application/json' // Adjust the Content-Type header based on your API requirements
      }
    };

    // Send the request
    fetch(url, options)
      .then(response => {
        if (response.ok) {
          console.log('Request succeeded');
        } else {
          console.error('Request failed');
        }
      })
      .catch(error => {
        // Handle any errors
        console.error('Error:', error);
      });
  }
</script>
