<div id="output">
  <center><h1>Manual Run</h1>
  <button onclick="runFor('weather')">Run Weather Generator Manually<br><span style="font-size:36px;">&#9925;</span></button>
  <button onclick="runFor('news')">Run News Generator Manually<br><span style="font-size:36px;">&#128240;</span></button>
  <button onclick="runFor('channel-offline')">Run Channel-Offline Generator Manually<br><span style="font-size:36px;">&#10060;</span></button>
  <button onclick="runFor('xmltvmerger')">Run XMLTVMERGER Manually<br><img src="https://img.icons8.com/?size=512&id=62008&format=png" style="height:35px;"></img></button>
  </center>
</div>
<br>
  <center><button onclick="window.location.href='/output'">View Filler Output</button></center>
  <br>
<div class="home-page-container">
  <div class="home-page-box">
  <center><h1>News</h1></center>
  <center><p>This is currently a work in progress. Testers are welcome but things may break without notice</p></center>
</div>
  <div class="home-page-box">
  <center><h1>Health Checks</h1></center>
  <p>Health Api Status: <span id="healthapistatus"></span></p>
  <p>FFmpeg installation Status: <span id="ffmpeginstallationstatus"></span></p>

  <h4>Operating System Information</h4>
  <p>Platform: <span id="platform"></span></p>
  <p>Hostname: <span id="hostname"></span></p>
  <p>Total Memory: <span id="totalMemory"></span> bytes</p>
  <p>Free Memory: <span id="freeMemory"></span> bytes</p>

</div>
</div>
