
  <html>
  <head>
      <title>Login Page</title>
  </head>
  <body>
    <center>
      <img src="https://liam8888999.github.io/ErsatzTV-Filler/images/ersatztv-filler.png" alt="ersatztv-filler logo">
      <br>
      <br>
        <h2>Login</h2>

        <br>

      <form action="/login" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br><br>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>

          <input type="submit" value="Login">
      </form>

      </center>
      <script>
        // Get the element by its ID
var logoutbutton = document.getElementById("logout");
logoutbutton.style.display = "none";
var topnav = document.getElementById("myTopnav");
topnav.style.display = "none";
        </script>
  </body>
  </html>
