
  <html>
  <head>
      <title>Login Page</title>
      <style>
      body {
      margin-top: -60px;
    }
    </style>
  </head>
  <body>
    <center>
      <img src="https://liam8888999.github.io/ErsatzTV-Filler/images/ersatztv-filler.png" alt="ersatztv-filler logo">
      <br>
      <!--RIP FWT, flying high with your best mate-->
  <!--  <img style="margin-left:20px;" src="https://www.dogzonline.com.au/images/profiles/08/11/34789_850.jpg" alt="gwillum">-->
      <br>
        <h2 style="padding-top: 10%;">Login</h2>

        <br>

      <form action="/login" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br><br>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>

          <input type="submit" value="Login">
      </form>
<br>
      <button onclick="toggleHintText()">Forgot Password</button>
      <br>
        <div id="hintText" style="display: none;">Password Hint: <%= hint %></div>


      </center>
      <script>
  function toggleHintText() {
    var hintText = document.getElementById('hintText');
    if (hintText.style.display === 'none') {
      hintText.style.display = 'block';
    } else {
      hintText.style.display = 'none';
    }
  }
</script>
      <script>
        // Get the element by its ID
var logoutbutton = document.getElementById("logout");
logoutbutton.style.display = "none";
var topnav = document.getElementById("myTopnav");
topnav.style.display = "none";
        </script>
  </body>
  </html>
