<style>
  body,
  html {
    height: 99%;
    margin: 0;
    padding: 0;
  }

  #logContainer {
    height: 79vh;
    overflow-y: scroll;
    margin: auto;
    width: 100%;
  }

  p {
    border-bottom: 1px solid darkgray;
    padding-bottom: 15px;
    padding-left: 30px;
  }
</style>

<div>
  <center>
    <u><h1>Logs</h1></u>
    <br>
        <button onclick="handleZip()">Download Log Files</button>
        <br>
  </center>
<br>
  <div id="logContainer" style="padding-top:10px; border:1px solid white;"><center><br><br><br><h2>Disabled due to bad performance and high memory usage</h2></center></div>

</div>
