<div class="container" style="margin: auto; width: 75%;">
<h1 style="text-align:center;"> Themes </h1>
<h4 style="text-align:center;">Light Theme</h4>
<p>The Light theme includes white backgrounds and black text.</p>
<hr class="solid">
<h4 style="text-align:center;">Dark Theme</h4>
<p>The Dark theme includes black backgrounds and white text.</p>
<hr class="solid">
<h4 style="text-align:center;">StopandGo Theme</h4>
<p>The StopandGo theme includes lightgreen backgrounds and red text.</p>
<hr class="solid">
<h4 style="text-align:center;">Candycane Theme</h4>
<p>The Candycane theme includes red backgrounds and white text.</p>
<hr class="solid">
<br>
<h3 style="text-align:center;">Community Submitted Themes</h3>
<br>
<br>
<h4 style="text-align:center;">MoRBiD_MaNGLeR-Dark Theme</h4>
<p>The MoRBiD_MaNGLeR-Dark theme includes black backgrounds and yellow text.</p>
<p>Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
<h4 style="text-align:center;">MoRBiD_MaNGLeR-C64 Theme</h4>
<p>The MoRBiD_MaNGLeR-C64 theme includes blue backgrounds and cyan text.</p>
<p>Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
<h4 style="text-align:center;">MoRBiD_MaNGLeR-BlueWhite Theme</h4>
<p>The MoRBiD_MaNGLeR-BlueWhite theme includes blue backgrounds and white text.</p>
<p>Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
</div>
