<div class="container" style="margin: auto; width: 75%;">
  <div id="overlay">
  <div id="loading-message"></div>
</div>
<!-- set downloaded themes list -->
<div id="downloadedThemes"><%- downloadedthemeslist %></div>

<h1 style="text-align:center;"> Themes </h1>
<br>
<p><b>Note:</b> Only System themes are currently available. User created themes will be reenabled in the future, for now if you would like your theme included please submit a pull request to <a href="https://github.com/liam8888999/ErsatzTV-Filler-Themes" target=”_blank”>ErsatzTV-Filler-Themes Github</a></p>
<h3 style="text-align:center;">Current theme is: <span id="currentTheme"><%- theme %></span></h3>
<h4 style="text-align:center;color:brown;">System Light Theme (Default)</h4>
<div class="slideshow-container">
  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemLight-Theme/images/channel-offline.png?raw=true" style="width:100%">
    <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>


  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemLight-Theme/images/news.png?raw=true" style="width:100%">
    <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>


  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemLight-Theme/images/weather-v1.png?raw=true" style="width:100%">
    <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemLight-Theme/images/weather-v2.png?raw=true" style="width:100%">
    <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemLight-Theme/images/weather-v3.png?raw=true" style="width:100%">
    <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="SystemLightdownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/SystemLight-Theme/SystemLight.theme', 'Light.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="SystemLightsetthemeButton" onclick="settheme('Light')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The Light theme includes white backgrounds and black text.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">System Dark Theme</h4>
<div class="slideshow-container">
  <div class="mySlides2">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemDark-Theme/images/channel-offline.png?raw=true" style="width:100%">

<div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
</div>

  <div class="mySlides2">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemDark-Theme/images/news.png?raw=true" style="width:100%">
  <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>

  <div class="mySlides2">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemDark-Theme/images/weather-v1.png?raw=true" style="width:100%">
  <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides2">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemDark-Theme/images/weather-v2.png?raw=true" style="width:100%">
  <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides2">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/SystemDark-Theme/images/weather-v3.png?raw=true" style="width:100%">
  <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="SystemDarkdownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/SystemDark-Theme/SystemDark.theme', 'SystemDark.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="SystemDarksetthemeButton" onclick="settheme('SystemDark')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The Dark theme includes black backgrounds and white text.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">StopandGo Theme</h4>
<div class="slideshow-container">
  <div class="mySlides3">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/StopandGo-Theme/images/channel-offline.png?raw=true" style="width:100%">
  <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>

  <div class="mySlides3">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/StopandGo-Theme/images/news.png?raw=true" style="width:100%">
  <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>

  <div class="mySlides3">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/StopandGo-Theme/images/weather-v1.png?raw=true" style="width:100%">
  <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-v1</div>
  </div>

  <div class="mySlides3">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/StopandGo-Theme/images/weather-v2.png?raw=true" style="width:100%">
  <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides3">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/StopandGo-Theme/images/weather-v3.png?raw=true" style="width:100%">
  <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
  </div>
<br>
<div style="padding-left:55%;">
<button id="stopandgodownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/StopandGo-Theme/stopandgo.theme', 'stopandgo.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="stopandgosetthemeButton" onclick="settheme('stopandgo')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The StopandGo theme includes lightgreen backgrounds and red text.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">Candycane Theme</h4>
<div class="slideshow-container">
  <div class="mySlides4">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Candycane-Theme/images/channel-offline.png?raw=true" style="width:100%">
  <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>

  <div class="mySlides4">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Candycane-Theme/images/news.png?raw=true" style="width:100%">
  <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>

  <div class="mySlides4">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Candycane-Theme/images/weather-v1.png?raw=true" style="width:100%">
  <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides4">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Candycane-Theme/images/weather-v2.png?raw=true" style="width:100%">
  <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides4">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Candycane-Theme/images/weather-v3.png?raw=true" style="width:100%">
  <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="CandycanedownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/Candycane-Theme/Candycane.theme', 'Candycane.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="CandycanesetthemeButton" onclick="settheme('Candycane')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The Candycane theme includes red backgrounds and white text.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<br>
<h3 style="text-align:center;">Community Submitted Themes</h3>
<br>
<br>
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-Dark Theme</h4>
<div class="slideshow-container">
  <div class="mySlides5">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-Dark-theme/images/channel-offline.png?raw=true" style="width:100%">
  <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>

  <div class="mySlides5">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-Dark-theme/images/news.png?raw=true" style="width:100%">
  <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>

  <div class="mySlides5">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-Dark-theme/images/weather-v1.png?raw=true" style="width:100%">
  <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides5">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-Dark-theme/images/weather-v2.png?raw=true" style="width:100%">
  <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides5">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-Dark-theme/images/weather-v3.png?raw=true" style="width:100%">
  <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="MoRBiD_MaNGLeRDarkdownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/MoRBiD_MaNGLeR-Dark-theme/MoRBiD_MaNGLeR-Dark.theme', 'MoRBiD_MaNGLeR-Dark.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="MoRBiD_MaNGLeRDarksetthemeButton" onclick="settheme('MoRBiD_MaNGLeR-Dark')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The MoRBiD_MaNGLeR-Dark theme includes black backgrounds and yellow text.</p>
<p style="color:DimGray;padding-left:55%;">Credit to MoRBid MaNGLeR.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-C64 Theme</h4>
<div class="slideshow-container">
  <div class="mySlides6">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-C64-theme/images/channel-offline.png?raw=true" style="width:100%">
  <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>

  <div class="mySlides6">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-C64-theme/images/news.png?raw=true" style="width:100%">
  <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>

  <div class="mySlides6">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-C64-theme/images/weather-v1.png?raw=true" style="width:100%">
  <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides6">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-C64-theme/images/weather-v2.png?raw=true" style="width:100%">
  <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides6">
  <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-C64-theme/images/weather-v3.png?raw=true" style="width:100%">
  <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="MoRBiD_MaNGLeRC64downloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/MoRBiD_MaNGLeR-C64-theme/MoRBiD_MaNGLeR-C64.theme', 'MoRBiD_MaNGLeR-C64.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="MoRBiD_MaNGLeRC64setthemeButton" onclick="settheme('MoRBiD_MaNGLeR-C64')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The MoRBiD_MaNGLeR-C64 theme includes blue backgrounds and cyan text.</p>
<p style="color:DimGray;padding-left:55%;">Credit to MoRBid MaNGLeR.</p>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-BlueWhite Theme</h4>
<div class="slideshow-container">
  <div class="mySlides7">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-BlueWhite-theme/images/channel-offline.png?raw=true" style="width:100%">
    <div class="numbertext">1 / 5</div>
<div class="text" style="padding-top: 20px;">Channel-offline</div>
  </div>

  <div class="mySlides7">
    <img id="myImg" src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-BlueWhite-theme/images/news.png?raw=true" style="width:100%">
    <div class="numbertext">2 / 5</div>
<div class="text" style="padding-top: 20px;">News</div>
  </div>


  <div class="mySlides7">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-BlueWhite-theme/images/weather-v1.png?raw=true" style="width:100%">
    <div class="numbertext">3 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V1</div>
  </div>

  <div class="mySlides7">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-BlueWhite-theme/images/weather-v2.png?raw=true" style="width:100%">
    <div class="numbertext">4 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V2</div>
  </div>

  <div class="mySlides7">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/MoRBiD_MaNGLeR-BlueWhite-theme/images/weather-v3.png?raw=true" style="width:100%">
    <div class="numbertext">5 / 5</div>
<div class="text" style="padding-top: 20px;">Weather-V3</div>
  </div>

  <a class="prev" onclick="plusSlides(-1, 6)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 6)">&#10095;</a>
</div>
<br>
<div style="padding-left:55%;">
<button id="MoRBiD_MaNGLeRBlueWhitedownloadButton" onclick="makeRequest('https://raw.githubusercontent.com/liam8888999/ErsatzTV-Filler-Themes/main/MoRBiD_MaNGLeR-BlueWhite-theme/MoRBiD_MaNGLeR-BlueWhite.theme', 'MoRBiD_MaNGLeR-BlueWhite.theme')">Download Theme <i class="fa">&#xf019;</i></button>
<button id="MoRBiD_MaNGLeRBlueWhitesetthemeButton"onclick="settheme('MoRBiD_MaNGLeR-BlueWhite')">Use This Theme <i class="fa">&#x2713;</i></button>
</div>
<br>
<br>
<p style="color:blue;padding-left:55%;">The MoRBiD_MaNGLeR-BlueWhite theme includes blue backgrounds and white text.</p>
<p style="color:DimGray;padding-left:55%;">Credit to MoRBid MaNGLeR.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<hr class="solid">

</div>

<script>
let slideIndex = [1,1,1,1,1,1,1];
let slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4", "mySlides5", "mySlides6", "mySlides7"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);
showSlides(1, 3);
showSlides(1, 4);
showSlides(1, 5);
showSlides(1, 6);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  let i;
  let x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>

<script>

  // download theme files
  function makeRequest(url, filepath) {
    const xhr = new XMLHttpRequest();
    const endpointUrl = `http://127.0.0.1:3000/api/themes/download?url=${url}&filepath=${filepath}`;
    xhr.open('GET', endpointUrl, true);
    xhr.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        console.log(this.responseText);
      }
    };
    xhr.send();
    function showLoadingOverlay() {
      var myDiv = document.getElementById('loading-message');
      var themefilepath = `${filepath}`;
var theme = themefilepath.replace(".theme", "");
    myDiv.textContent = "New Theme (" + `${theme}` + ") has been downloaded successfully. Please wait...";
    document.getElementById('overlay').style.display = 'block';
  }
  function reloadPageWithDelay(delay) {
    showLoadingOverlay();
    setTimeout(function() {
      location.reload();
    }, delay);
  }
  // Call the reloadPageWithDelay function with a specified delay (in milliseconds)
  reloadPageWithDelay(1500); // Refresh after 2 seconds (2000 milliseconds)
  }
</script>

<script>

  // set theme
  function settheme(theme) {
    const xhr = new XMLHttpRequest();
    const endpointUrl = `http://127.0.0.1:3000/api/themes/settheme?theme=${theme}`;
    console.log(theme)
    xhr.open('GET', endpointUrl, true);
    xhr.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        console.log(this.responseText);
      }
    };
    xhr.send();
    function showLoadingOverlay() {
      var myDiv = document.getElementById('loading-message');
    myDiv.textContent = "New Theme (" + `${theme}` + ") has been set successfully. Please wait...";
    document.getElementById('overlay').style.display = 'block';
  }
  function reloadPageWithDelay(delay) {
    showLoadingOverlay();
    setTimeout(function() {
      location.reload();
    }, delay);
  }
  // Call the reloadPageWithDelay function with a specified delay (in milliseconds)
  reloadPageWithDelay(1500); // Refresh after 2 seconds (2000 milliseconds)

  }
</script>
<script>

  window.onload = function() {


    //disable set theme button if already set
      var statusDiv1 = document.getElementById('currentTheme');

      // Define the theme buttons and their corresponding IDs
      var themeButtons1 = [
        { id1: 'SystemLightsetthemeButton', theme1: 'Light' },
        { id1: 'SystemDarksetthemeButton', theme1: 'SystemDark' },
        { id1: 'stopandgosetthemeButton', theme1: 'stopandgo' },
        { id1: 'CandycanesetthemeButton', theme1: 'Candycane' },
        { id1: 'MoRBiD_MaNGLeRDarksetthemeButton', theme1: 'MoRBiD_MaNGLeR-Dark' },
        { id1: 'MoRBiD_MaNGLeRC64setthemeButton', theme1: 'MoRBiD_MaNGLeR-C64' },
        { id1: 'MoRBiD_MaNGLeRBlueWhitesetthemeButton', theme1: 'MORBiD_MaNGLeR-BlueWhite' }
      ];

  var currentThemesText = statusDiv1.innerText;
      // Iterate over the theme buttons array
      themeButtons1.forEach(function(button) {
        var themeButton1 = document.getElementById(button.id1);
        if (currentThemesText.includes(button.theme1)) {
          themeButton1.disabled = true;
          themeButton1.style.backgroundColor = 'lightgray';
          themeButton1.style.textDecoration = 'line-through';
        } else {
    themeButton1.disabled = false;
        }
      });



  //disable download button if already downloaded

    var statusDiv = document.getElementById('downloadedThemes');

    // Define the theme buttons and their corresponding IDs
    var themeButtons = [
      { id: 'SystemLightdownloadButton', theme: 'Light.theme' },
      { id: 'SystemDarkdownloadButton', theme: 'SystemDark.theme' },
      { id: 'stopandgodownloadButton', theme: 'stopandgo.theme' },
      { id: 'CandycanedownloadButton', theme: 'Candycane.theme' },
      { id: 'MoRBiD_MaNGLeRDarkdownloadButton', theme: 'MoRBiD_MaNGLeR-Dark.theme' },
      { id: 'MoRBiD_MaNGLeRC64downloadButton', theme: 'MoRBiD_MaNGLeR-C64.theme' },
      { id: 'MoRBiD_MaNGLeRBlueWhitedownloadButton', theme: 'MORBiD_MaNGLeR-BlueWhite.theme' }
    ];

    // Get the downloaded themes as a comma-separated string
    var downloadedThemesText = statusDiv.innerText;
    var downloadedThemesArray = downloadedThemesText.split(',');

    // Iterate over the theme buttons array
    themeButtons.forEach(function(button) {
      var themeButton = document.getElementById(button.id);
      if (downloadedThemesArray.includes(button.theme)) {
        themeButton.disabled = true;
        themeButton.style.backgroundColor = 'lightgray';
        themeButton.style.textDecoration = 'line-through';
      } else {
        themeButton.disabled = false;
      }
    });




  };
</script>
