<div class="container" style="margin: auto; width: 75%;">
<h1 style="text-align:center;"> Themes </h1>
<h4 style="text-align:center;color:brown;">Light Theme (Default)</h4>
<div class="slideshow-container">
  <div class="mySlides1">
    <img src="https://github.com/liam8888999/ErsatzTV-Filler-Themes/blob/main/Light-Theme/channel-offline.png?raw=true" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The Light theme includes white backgrounds and black text.</p>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">Dark Theme</h4>
<div class="slideshow-container">
  <div class="mySlides2">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides2">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides2">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The Dark theme includes black backgrounds and white text.</p>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">StopandGo Theme</h4>
<div class="slideshow-container">
  <div class="mySlides3">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides3">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides3">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The StopandGo theme includes lightgreen backgrounds and red text.</p>
<br>
<hr class="solid">
<h4 style="text-align:center;color:brown;">Candycane Theme</h4>
<div class="slideshow-container">
  <div class="mySlides4">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides4">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides4">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The Candycane theme includes red backgrounds and white text.</p>
<br>
<hr class="solid">
<br>
<h3 style="text-align:center;">Community Submitted Themes</h3>
<br>
<br>
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-Dark Theme</h4>
<div class="slideshow-container">
  <div class="mySlides5">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides5">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides5">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The MoRBiD_MaNGLeR-Dark theme includes black backgrounds and yellow text.</p>
<p style="color:DimGray;padding-left:25%;">Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-C64 Theme</h4>
<div class="slideshow-container">
  <div class="mySlides6">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides6">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides6">
  <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The MoRBiD_MaNGLeR-C64 theme includes blue backgrounds and cyan text.</p>
<p style="color:DimGray;padding-left:25%;">Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
<h4 style="text-align:center;color:brown;">MoRBiD_MaNGLeR-BlueWhite Theme</h4>
<div class="slideshow-container">
  <div class="mySlides7">
    <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides7">
    <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <div class="mySlides7">
    <img src="https://imageproperty.com.au/wp-content/uploads/2020/07/image-property-logo.png" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<p style="color:blue;padding-left:25%;">The MoRBiD_MaNGLeR-BlueWhite theme includes blue backgrounds and white text.</p>
<p style="color:DimGray;padding-left:25%;">Credit to MoRBid MaNGLeR.</p>
<hr class="solid">
</div>

<script>
let slideIndex = [1,1,1,1,1,1,1,1];
let slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4", "mySlides5", "mySlides6", "mySlides7"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);
showSlides(2, 3);
showSlides(3, 4);
showSlides(4, 5);
showSlides(5, 6);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  let i;
  let x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>
