
<div style="margin: auto; width: 75%;">
  <br>
  <center>
    <h1> Updates </h1>
  <br>
    <div style="background-color: #5bc0de; color: #fff; padding: 5px 10px; border-radius: 3px;  display: inline-block;">
        <h2 style="font-size: 18px; margin: 0;"><%= updatestatus %></h2>
      </div>
      </center>
</div>
