
<div>
  <center>
  <u>  <h1> Updates </h1></u>
  <br>
    <div style="background-color: #5bc0de; color: #fff; padding: 5px 10px; border-radius: 3px;  display: inline-block;">
        <h2 style="font-size: 18px; margin: 0;"><%= updatestatus %></h2>
      </div>
      <br>
      <% if (updatestatus.startsWith('Newer version is available:')) { %>
        <button onclick="window.open('https://github.com/liam8888999/ErsatzTV-Filler/releases/latest', '_blank');">
        Latest Release on Github
      </button>
<% } %>
      <br>
      <h6>* Please Note there is currently no update mechanism built in</h6>
      </center>
<br>
      <%- markdown %>
      <button class="show-content-button" style="width: 100%; border: none; color: black; border-top: 5px solid dimgray; background-image: linear-gradient(dimgray, white)">Show older Changelogs</button>


</div>
