<div class="topnav" id="myTopnav">
    <a href="/" class="<%= page === 'Home' && 'active' %>">Home</a>
    <a href="/config" class="<%= page === 'Config' && 'active' %>">Config</a>
    <a href="/themes" class="<%= page === 'Themes' && 'active' %>">Themes</a>
    <a style="display: none;" href="/themes" class="<%= page === 'Updates' && 'active' %>">Updates</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>